body {
  overflow: hidden;
  background: white;
  color: black;
}

pre {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

#coffee {
  position: absolute;
  left: 0;
}

#javascript {
  position: absolute;
  right: 0;
}

#options {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
}

#options #popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: silver;
  border: 1px solid black;
  white-space: nowrap;
}

#options #popup #close {
  display: block;
  text-align: right;
  background: blue;
  text-decoration: none;
  color: white;
}

#options #popup #close:hover {
  color: lime;
}

#options #popup select {
  width: 100%;
  -width: 7em;
}

#options #popup label {
  display: block;
}

#options #popup ul {
  padding: 0;
  margin: 0;
  border-top: 1px dashed black;
  list-style-type: none;
}

#options #popup ul a {
  color: navy;
}
