body {
  overflow: hidden;
  background: white;
  color: black;
}

.half {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

#coffee {
  position: absolute;
  left: 0;
}

#javascript {
  position: absolute;
  right: 0;
}

pre {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#splitter {
  z-index: 8;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  border: 1px solid gray;
  cursor: col-resize;
}

#splitter:hover {
  border: 1px solid blueviolet;
}

#options {
  position: absolute;
  z-index: 10;
  top: 0;
  left: -1.6ex;
}

#options > input {
  padding: 0 0.5ex;
}

#options div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: silver;
  border: 1px solid black;
  white-space: nowrap;
}

#options #close {
  display: block;
  text-align: right;
  background: blue;
  text-decoration: none;
  color: white;
}

#options #close:hover {
  color: lime;
}

#options select {
  width: 100%;
  -width: 7em;
}

#options label {
  display: block;
}

#options ul {
  padding: 0;
  margin: 0;
  border-top: 1px dashed black;
  list-style-type: none;
}

#options ul a {
  color: navy;
}

#error {
  display: none;
  position: absolute;
  z-index: 200;
  right: 0;
  top: 0;
  margin: 1em;
  background: yellow;
  border: 1px solid red;
  text-align: center;
}

#error a {
  display: block;
  background: red;
  color: black;
  text-decoration: none;
  text-align: right;
}

#error a:hover {
  color: lime;
}
