body {
  overflow: hidden;
}

pre {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

#coffee {
  position: absolute;
  left: 0;
}

#javascript {
  position: absolute;
  right: 0;
}
